R3AKT_TAK_RCH_BASE_URL=http://127.0.0.1:8000
R3AKT_TAK_RCH_API_KEY=change-me
R3AKT_TAK_SERVICE_INTERVAL_SECONDS=5
COT_URL=tcp://127.0.0.1:8087
TAK_CALLSIGN=RCH
TAK_PROTO=0
FTS_COMPAT=0
PYTAK_TLS_DONT_VERIFY=0
# R3AKT_TAK_TLS_CA=/etc/rch/tak-ca.pem
# R3AKT_TAK_TLS_CLIENT_CERT=/etc/rch/client.p12
# R3AKT_TAK_TLS_CLIENT_PASSWORD=change-me
# R3AKT_TAK_TLS_INSECURE=false
